@media (max-width: 500px) {
  header {
    padding: 46px;
  }

  header nav {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    justify-content: space-between;
  }
  nav .navbar_logo a {
    display: flex;

    align-items: center;
    gap: 16px;
  }
  nav .navbar_logo a img {
    width: 32px;
  }

  nav .navbar_logo a span {
    font-size: 22px;
  }

  .navbar_menu1 {
    transition: all 0.6s ease;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: #000000;
    padding: 30px 0;
    position: absolute;
    top: -60px;
    left: -150%;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
  }

  .navbar_menu1 li a {
    color: #fff;
    font-size: 18px;
  }

  .navbar_burger {
    z-index: 999;
  }

  .register {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .register a {
    font-size: 14px;
    padding: 0;
    border: none;
  }
  .register a:hover {
    background: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
    color: rgb(60, 130, 244);
    font-size: 14px;
  }

  .register button {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .navbar_burger {
    display: inline-block;
  }

  .res_menu {
    left: -50px;
  }
  .showcase {
    margin-top: 180px;
  }

  .showcase_title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }

  .showcase_subscribe {
    margin-top: 30px;
  }

  .showcase_subscribe p {
    font-size: 20px;
    line-height: 30px;
  }
  .subscribe_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    flex-direction: column;
    margin-top: 50px;
  }
  .subscirbers_count {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
  }

  .subscirbers_count__text {
    color: rgb(112, 112, 112);
    font-size: 20px;
  }
  .subscribe_btn {
    padding: 12px 30px;
    font-size: 18px;
  }

  .creator {
    margin: 80px 0 60px 0;
  }

  .creator_title {
    text-align: center;
  }
  .creator_title span {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    line-height: 112px;
  }

  .creator_cards {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
  }

  .step1 {
    text-align: center;
    margin: 80px 0;
  }

  .step1 .step1_text1 {
    font-size: 20px;
  }

  .step1 .step1_title {
    font-size: 30px;
    line-height: 62px;
  }

  .step1 .step1_text2 {
    font-size: 20px;
  }

  /* Content section */
  .content {
    padding: 10px;
    margin: 80px 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content_name {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
  }

  .content .content_title {
    margin: 20px 0 10px 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 62px;
  }

  .content_info_list {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 12px;
    margin-top: 10px;
  }
  .content_info_list_number {
    width: 33px;
    display: flex;
    margin-top: 13px;
    align-items: center;
    justify-content: center;
    height: 33px;
    font-size: 14px;
  }

  .content_info_list p {
    font-size: 20px;
  }

  .content_image {
    margin-top: 30px;
    position: relative;
  }

  .content_image img {
    width: 100%;
  }

  .content_image .shape {
    position: absolute;
    bottom: 0;
    right: 90px;
    width: 200px;
    z-index: -1;
    height: 276px;
    background: rgb(139, 139, 139);
  }
  .content_image .shape2 {
    right: 81px;
  }

  .homepage {
    margin: 50px 0 50px 0;
    padding: 0 40px;
    flex-direction: column;
  }
  .one_link__box .one_link {
    font-size: 20px;
    line-height: 35px;
  }
  .one_link__box {
    height: 500px;
    padding: 33px 45px;
    background: rgb(13, 13, 13);
    width: 100%;
  }
  .one_link_titles .one_link_title1 {
    color: rgb(145, 145, 145);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
  }
  .title2 {
    margin-top: 45px;
  }

  .one_link_titles .one_link_title2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
  }
  .one_link_mobile img {
    width: 300px;
  }
  .one_link_mobile {
    position: absolute;
    margin-top: 30px;
    right: 0;
    bottom: 0;
  }

  .expert {
    padding: 0 47px;
    text-align: center;
  }

  .expert h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 62px;
  }

  .expert img {
    margin-top: 22px;
    width: 100%;
  }

  /* help */
  .help {
    margin: 50px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(assets/help.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  .help h1 {
    font-size: 30px;
    line-height: 45px;
  }

  .started {
    text-align: center;
  }

  .started_logo a img {
    width: 100px;
  }

  .started h1 {
    font-size: 30px;
    line-height: 50px;
  }

  .started p {
    font-size: 18px;
  }
  footer {
    padding: 80px 40px 30px 40px;
  }

  footer .footer_nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar_menu {
    margin-top: 20px;
  }


}
